body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

html {
  width: 100%;
  height: 100%;
}

canvas {
  position:absolute;
  display:block;
  width:100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  /*font-size: 2.7vh;*/
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  transition: all 0.2s ease-in-out;
  color: #42DCA3;
}

a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

header {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;

  background-color: black;
  background-size: cover;
}

#intro-body {
  display: table-cell;
  vertical-align: middle;
}
header h1 {
  font-size: 50px;
}
header p {
  font-size: 18px;
}

.improve-contrast-box {
  padding-top: 5px;
  background: rgba(0, 0, 0, .7);
  border-radius: 10px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

.improve-contrast-box > ul{
  padding-inline-start: 0px;
}

.improve-contrast-box > ul > a > img {
  vertical-align: baseline;
}

.improve-contrast-box > p {
  margin: 0 0 10px;
}

@media (min-width: 768px) {
  header {
    height: 100%;
    padding: 0;
  }
  header h1 {
    font-size: 100px;
  }
  header p {
    font-size: 22px;
  }
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.content-section {
  height: 100%;
  width: 100%;
  min-height: 500px;
}

.section-1{
  padding-top: 60px !important;
  min-height: 550px;
}

@media (min-height: 600px) {
  .section-1{
    padding-top: 80px !important;
  }
}

@media (min-height: 800px) {
  .section-1{
    padding-top: 150px !important;
  }
}

.section-2 {
  color: white;
  background: url("../img/IMG_1615.jpg") no-repeat center center scroll;
  background-color: black;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 150px;
}

@media (min-height: 600px) {
  .section-2{
    padding-top: 150px !important;
  }
}

@media (min-height: 800px) {
  .section-2{
    padding-top: 200px !important;
  }
}

.section-3{
  padding-top: 40px !important;
  padding-bottom: 90px !important;
  height: auto;
  min-height: 600px;
}

#projbutton-r{
  position: absolute;
  padding-right: 10px;
  right: 0px;
  bottom: 10px;
  line-height:1.5;
  z-index: 500;
}

#projbutton-l{
  position: absolute;
  padding-left: 10px;
  left: 0px;
  bottom: 10px;
  line-height:1.5;
  display: none;
  z-index: 500;
}

@media (min-width: 990px) {
  #projbutton-r{
    right: -45px;
  }
  #projbutton-l{
    left: -45px;
  }
}

@media (min-width: 1200px) {
  #projbutton-r{
    right: 0px;
  }
  #projbutton-l{
    left: 0px;
  }
}

#sec-ind-2 > div > div > div > div {
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}

#skills-list > svg{
  opacity: 0;
}

#skills-list > a{
  opacity: 0;
}

/*fade in skillls list*/
.fadeIn {

  animation-name: fadeIn;
  -webkit-animation-name: fadeIn; 

  animation-duration: .5s;  
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-in; 
  -webkit-animation-timing-function: ease-in;   

  animation-fill-mode:forwards;
  -webkit-animation-fill-mode:forwards;

  visibility: visible !important; 
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;   
  }

  100% {
    opacity: 1; 
  }   
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.0;   
  }

  100% {
    opacity: 1; 
  }   
}

.section-4{
  padding-bottom: 80px !important; /*??*/
  padding-top: 10% !important;
  height: 50% !important;
}

@media (min-height: 930px) {
  .section-4{
    padding-bottom: 80px !important; /*??*/
    padding-top: 9% !important;
    height: 80% !important;
  }
}


@media (min-width: 992px) {
  .content-section {
    height: 100%;
    width: 100%;
  }
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #42DCA3;
  outline: none;
  background-color: #42DCA3;
}

ul.banner-social-buttons {
  margin-top: 0;
  font-size: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

.logo {
  font-family: "Rye";
  color: red;
  font-size: 3.0rem;
  height: 4rem;
}

footer {
  padding-top: 65px;
  padding-bottom: 10px;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

/*projects list css*/
.projects-list{
    top: 10px;
    max-width: 610px;
    min-width: 610px;
    height: auto;
    overflow-x: scroll;
    display: grid;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    margin: 0 auto;
    column-gap: 8px;
}

.projects-list::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 15px;
}


.projects-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.projects-list::-webkit-scrollbar-track { 
    background-color: #fff; 
    border-radius: 8px; 
} 

@media (min-height: 800px) {
  .projects-list{
    transform: scale(1.2);
    padding-top: 10%;
  }
  .my-icb{
    transform: scale(1.1);
  }
  #projbutton-r{
    right: -55px;
  }
  #projbutton-l{
    left: -55px;
  }
  #about-me{
    transform: scale(1.2);
  }
  .content-section > .container > .row > .col-lg-8 > p{
    transform: scale(1.2);
  }
}

.tile .logo {
  -moz-transition-property: background-image;
  -o-transition-property: background-image;
  -webkit-transition-property: background-image;
  transition-property: background-image;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  margin: 20px auto;

  width:80%;
  height: 43px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tile .logo2 {
  -moz-transition-property: background-image;
  -o-transition-property: background-image;
  -webkit-transition-property: background-image;
  transition-property: background-image;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  margin-top: 20px;
  margin-left: 40px;

  width:30%;
  height: 43px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tile .logo2 > p{
  font-size: 25px;
  padding-left: 86px;
}

.tile .logo3 {
  -moz-transition-property: background-image;
  -o-transition-property: background-image;
  -webkit-transition-property: background-image;
  transition-property: background-image;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  margin: 20px auto;

  width:80%;
  height: 43px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.tile > p{
  text-align: center;
  font-size: 23px !important;
  width: 100%;
  padding-top: 25px;
}

.info .infolabel:before {
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  margin-right: 5px;
  content: '\f109';
}

.tile {
  margin: 10px;
  position: relative;
  width: 30%;
  height: 220px;
  min-width: 280px;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  background-color: #808080;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.info {
  color: white;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-top: 30px;
}
.info p {
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px 8px;
  margin: 2px 0;
  font-size: 0.9em;
}
.info p:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.more {
  color: black;
  margin-top: 15px;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  text-align: center;
}
.more a {
  display: inline-block;
  color: white;
  font-weight: 500;
  font-size: 1.1em;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  padding: 4px 8px;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateZ(0);
  backface-visibility: hidden;
  overflow: hidden;
}
.more a:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: white;
  height: 2px;
  -moz-transition-property: left, right;
  -o-transition-property: left, right;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.more a:hover:before {
  left: 10%;
  right: 10%;
}

.more a:not([href]):not([tabindex]) {
  color: white;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  position: absolute;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.tile:hover .overlay{
  background: rgba(255, 255, 255, 0.5);
}

.tile:hover .info {
  opacity: 1;
}

.tile:hover .more {
  opacity: 1;
}

@media (min-width: 480px) {
  .tile.logo {
    margin-top: 40px;
  }
}

.tile:hover{
  background-color: darkgray;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}


/*project logo custom classes*/
.quorumlog {
  font-size: 20px !important;
  width: 190px !important;
  padding-left: 70px !important;
}

.tile > .logo2 > .ingestionapi{
  font-size: 20px !important;
  width: 220px !important;
  padding-left: 72px !important;
  text-align: left;
}

.globelogo{
  font-size: 21px !important;
  width: 181px !important;
  padding-left: 72px !important;
  text-align: left;
}

.iotvislogo{
    font-size: 21px !important;
    width: 181px !important;
    padding-left: 72px !important;
    text-align: left;
}

.ingcluster{
    font-size: 20px !important;
    width: 230px !important;
    padding-left: 72px !important;
    text-align: left;
}

.tile > .logo2 > .crawler{
  font-size: 19px !important;
  width: 250px !important;
  padding-left: 72px !important;
  text-align: left;
}



/*******************/
.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  background:  black;
  border: 3px solid #666666;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 80%;
  height: 80%;
  margin:  7% auto;
  z-index: 600;
}

.popup-content > p {
  color: white;
  z-index: 650;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  line-height:1.5;
  white-space: pre-line
}

.popup-content > h2 {
  color: white;
  z-index: 650;
  text-align: center;
  padding-top: 25px;
}

.popup-content > h2:after {
    content:' ';
    display:block;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    width:200px;
    margin: 5px auto;
}

.popup-content > .close {
  color: white;
}



