<div class='tile'>
    {{- if .Get "logohastext" }}
    <div class="logo2" style="background-image: url('{{ .Get "backgroundimage" }}');">
      <p>{{ .Get "logodescrip" }}</p>
    </div>
    {{ else if .Get "backgroundimage" }}
      <div class="logo" style="background-image: url('{{ .Get "backgroundimage" }}');"></div>
    {{ else }}
        <p>{{ .Get "logodescrip" }}</p>
    {{ end }}
  <div class="info">
    <p class="responsive">{{ .Get "label1" }}</p>
    <p class="netsuite">{{ .Get "label2" }}</p>
    <p class="js">{{ .Get "label3" }}</p>
  </div>
  {{- if .Get "personal" }}
  <div class="more"><a href='{{ .Get "pjhref" }}'>View Project</a></div>
  {{ end }}
  <div class="overlay"></div>
</div>