<div class='tile'>
    {{- if .Get "logohastext" }}
    <div class="logo2" style="background-image: url('{{ .Get "bi" }}');">
      <p class="{{ .Get "pclass"}}">{{ .Get "logodescrip" }}</p>
    </div>
    {{ else if .Get "bi" }}
      <div class="logo" style="background-image: url('{{ .Get "bi" }}');"></div>
    {{ else }}
        <p class="{{ .Get "pclass"}}">{{ .Get "logodescrip" }}</p>
    {{ end }}
  <div class="info">
    <p class="responsive">{{ .Get "label1" }}</p>
    <p class="netsuite">{{ .Get "label2" }}</p>
    <p class="js">{{ .Get "label3" }}</p>
  </div>
  {{- if .Get "personal" }}
    <div class="more"><a target="_blank" href='{{ .Get "pjh" }}'>View Project</a></div>
  {{ else }}
    <div class="more"><a>Project Detail</a></div>
  {{ end }}
  <div class="overlay"></div>
</div>